<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.PruebaTecnicaConnectionString"
            connectionString="Data Source=.;Initial Catalog=PruebaTecnica;User ID=sa;Password=database"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>